<div class="container">
      
  <div class="loading">
    <svg width="64px" height="48px">
        <polyline points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24" id="back"></polyline>
      <polyline points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24" id="front"></polyline>
    </svg>
  </div>
    <h2 class="title">Contador</h2>
    <div class="button-container">
        <button class="btn-class-name" (click)="incrementar()">
            <span class="back"></span>
            <span class="front"></span>
        </button>
        <button class="btn-class-name" (click)="disminuir()">
            <span class="back"></span>
            <span class="front"></span>
        </button>
    </div>
    <p class="counter-text">El valor actual del contador es: {{valor}}</p>
</div>